@font-face {
    font-family: "Barrio";
    src: url("/src/assets/fonts/Barrio-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("/src/assets/fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}