body {

    background:linear-gradient(45deg,#FAF3E0,#E0C097);
}

#cardsAmerica, #cardsEuropa, #cardsAsia {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;

}

.bodyCard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 300px;
    gap: 5px;
    margin: 5px;
    background-color: antiquewhite;
    border-radius: 25px;
    color: black;
    background-size: cover;
    background-position: center;
}

.titleCard {

    background: linear-gradient(45deg,#FAF3E0,#D5B19D);
    color: #7A1E1E;
    font-family: "Barrio", serif;
    font-size: 22px;
    font-weight: 400;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #D5B19D;
    padding: 8px;
    justify-items: center;

}

.boton1, .boton2, .boton3 {

    padding: 8px;
    background-color: #F1E0C6;
    color: black;
    border: 2px solid #D5B19D;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    font-family: "poppins", serif;
    font-size: 14px;

}

.boton1:hover, .boton2:hover , .boton3:hover {

    transform: scale(1.1);
    transition: 1.4 ease;
    background-color: #D5B19D;
    color: #7A1E1E;

}

.botonCorrecto {

    padding: 8px;
    background-color: green;
    color: antiquewhite;
    border-radius: 5px;
    width: 200px;
    font-family: "poppins", serif;
    font-size: 14px;
    
}

.botonIncorrecto {

    padding: 8px;
    background-color: red;
    color: antiquewhite;
    border-radius: 5px;
    width: 200px;
    font-family: "poppins", serif;
    font-size: 14px;
}

.botonAgregado {

    padding: 8px;
    background-color: antiquewhite;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    font-family: "poppins", serif;
    font-size: 14px;

}

.botonesTransparentes {

    opacity: 0.7;

}

.dark {

    background: linear-gradient(45deg, #1A1A1A, #000);
    color: antiquewhite;
    
}

.grilla {

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
    margin-left: 10px;
}

.tituloPrincipal {

    justify-items: center;
} 

h1 {

    font-family: "Barrio", serif;
    font-size: 40px;
    color: #7A1E1E;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.footer {

    background-color: #7A1E1E;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final {

    background-color: #7A1E1E;
    justify-items: center;
}

.final p {

    font-size: 30px;
    font-family: "poppins", serif;
    color: #D5B19D;
}

.casilla1 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div1 {

    display: flex;
    justify-content: center;
    align-content: center;
    height: 40%;
    gap: 10px;
    margin-top: 10px;
}

#ingresarNombre {

    font-family: "poppins", serif;
    font-size: 18px;
    padding: 5px;
    border: 2px solid #7A1E1E;
    border-radius: 5px;
    font-size: 18px;
}
#guardarNombre {

    padding: 7px 14px;
    background-color: #7A1E1E;
    color: beige;
    border-radius: 26px 58px;
    border: 2px solid #FAF3E0;
    cursor: pointer;
    font-family: "poppins", serif;
    font-size: 18px
}

.player  {

    padding: 3px 10px;
    background-color: #7A1E1E;
    border: 2px solid #FAF3E0;
    font-family: "poppins", serif;
    color: beige;
    border-radius: 32px 64px 128px 32px;
    font-size: 18px
}

.div2 {

    display: flex;
    justify-content: center;
    align-content: center;
    height: 60%;
}

#nombreJugador {

    font-family: "Barrio", serif;
    font-size: 30px;
    color: #7A1E1E;
}

.tituloPrincipal {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.casilla3 {

    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.botonModoClaro {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background:linear-gradient(45deg, #7A1E1E, rgba(248, 106, 106, 0.753));
    box-shadow: 0 0 6px rgba(248, 0, 0, 0.7), 0 0 10px rgba(255, 0, 0, 0.5);
    border: 2px solid #FFD700;
    cursor: pointer;
    font-size: 35px;
    border-radius: 50%;
}

.botonModoClaro:hover {

    transform: scale(1.1);
}

.botonModoOscuro {
    
    background:linear-gradient(45deg, #0401c9, rgba(5, 134, 209, 0.753));
    box-shadow: 0 0 6px rgba(3, 146, 241, 0.7), 0 0 10px rgba(3, 98, 223, 0.5);
    border: 2px solid beige;
}

#reglamento {

    padding: 10px 20px;
    background-color: #7A1E1E;
    color: beige;
    border: 2px solid #E0C097;
    border-radius: 26px 58px;
    cursor: pointer;
    font-family: "poppins", serif;
    font-size: 18px;
    
}
#botoneraMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 10px;
}
.continentes {

    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 50, 0.8);
    border-radius: 50%;
    height: 700px;
}
.americaFondo {
    
    background-image: url("/src/assets/images/ContinenteAmericano.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.europaFondo {
    
    background-image: url("/src/assets/images/ContinenteEuropeo.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.asiaFondo {
    
    background-image: url("/src/assets/images/ContinenteAsiatico.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.botonesMain {
    
    font-family: "Barrio", serif;
    font-size: 24px;
    font-weight: 500;
    height: 60px;
    width: 150px;
    padding: 5px 10px;
    margin-top: 45px;
    background: linear-gradient(45deg,#FAF3E0,#D5B19D);
    color: #7A1E1E;
    border: 2px solid #D5B19D;
    box-shadow: 4px 4px 10px rgba(0, 0, 50, 0.8);
    border-radius: 5px;
}

#america {

    cursor: pointer;
}

#europa, #asia {

    cursor: not-allowed;
}
.botonesMain:hover {

    transform: scale(1.2);
}

.lista-reglas {

    text-align: left;
    font-family: "poppins", serif;
    
}


@font-face {
    font-family: "Barrio";
    src: url("../assets/fonts/Barrio-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
